{% extends "layout.twig" %}

{% block content %}

<!-- Container -->
<div class="template-container">

	<!-- Header Content (Template Widgets) -->
	<header class="template-header">
		{{widget('logo', 'headerlogo', {
			"defaultlogo": asset('images/logo.png')
		})|raw}}

		{{widget('companyname', 'companyname', {
			"business": "profile"
		})|raw}}

		{{widget('extendednavigation', 'headernavigation', {
			"align":"left"
		})|raw}}

		{{widget('feature', 'headerfeature', {
			"header": "Header Text",
			"strapline":"Strapline text",
			"defaultBgImg": asset('images/feature-bg.jpg'),
			'positionTopPercentage': '0',
			'showBtn': true,
			buttonText: "Button text"
		})|raw}}
	</header>
	<!-- End Header Content -->

	<!-- Page Content (Zone Widgets) -->
	<main class="template-main">
		{{zone('main')|raw}}
	</main>
	<!-- End Page Content -->

	<!-- Footer Content (Template Widgets) -->
	<footer class="template-footer">

		{{widget('profile', 'footercopyright', {
			"profileType": "copyright",
			"copyright": "Copyright ©"
		})|raw}}

	</footer>

</div>
<!-- End Container -->

{% endblock %}