{% extends "layout.twig" %}

{% block content %}

<!-- Container -->
<div class="container">

	<!-- Page Content -->
	<section class="template-content">

		<!-- Template Widgets -->

		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}

		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}

		{{widget('navigation', 'navigation', {"align":"left"})|raw}}

		{{widget('feature', 'featurehome', {
			"header": "profile", 
			"defaultBgImg": asset('images/feature-bg.jpg'),
			'positionTopPercentage': '0',
			'showBtn': true,
			buttonText: "Lorem Ipsum"
		})|raw}}
		
		<!-- End Template Widgets -->

		<!-- Main Widet Zone -->
	   	{{zone('main')|raw}}

	</section>
	<!-- End Page Content -->

</div>
<!-- End Container -->

{% endblock %}