<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
	
		<meta charset="utf-8" />
		<meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="content-language" content="{{ page.seoLang }}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	
		{% if site.favicon %}
			<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
			<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
		{% endif %}
		
		<link rel="stylesheet" href="//{{env.assetDomain}}/templates/common/responsive-columns.css" />
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	
		<!-- Includes css files -->
		{% include basekit.headScript %}
	
		<!-- JavaScript files, core stuff that makes sense to be included, should be checked for? -->
		{% include basekit.bodyScript %}
	</head>
	<body class="{{ page.backgroundClass }}">
		<div class="container">
			<header class="header row">
				<div class="span-6 logo">
					{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
					{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
				</div>
				<div class="span-6 strapline">

				</div>
				<nav class="span-12 navigation">
					{{widget('extendednavigation', 'navigationheader', {})|raw}}
				</nav>
			</header>
			<div class="page">
			